---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: helmreleaseproxies.addons.cluster.x-k8s.io
spec:
  group: addons.cluster.x-k8s.io
  names:
    kind: HelmReleaseProxy
    listKind: HelmReleaseProxyList
    plural: helmreleaseproxies
    shortNames:
    - hrp
    singular: helmreleaseproxy
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster to which this HelmReleaseProxy belongs
      jsonPath: .spec.clusterRef.name
      name: Cluster
      type: string
    - jsonPath: .status.ready
      name: Ready
      type: string
    - jsonPath: .status.status
      name: Status
      type: string
    - jsonPath: .status.revision
      name: Revision
      type: string
    - jsonPath: .status.namespace
      name: Namespace
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: HelmReleaseProxy is the Schema for the helmreleaseproxies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: HelmReleaseProxySpec defines the desired state of HelmReleaseProxy.
            properties:
              chartName:
                description: ChartName is the name of the Helm chart in the repository.
                type: string
              clusterRef:
                description: ClusterRef is a reference to the Cluster to install the
                  Helm release on.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              namespace:
                description: Namespace is the namespace the Helm release will be installed
                  on the referenced Cluster. If it is not specified, the default namespace.
                type: string
              releaseName:
                description: ReleaseName is the release name of the installed Helm
                  chart. If it is not specified, a name will be generated.
                type: string
              repoURL:
                description: RepoURL is the URL of the Helm chart repository.
                type: string
              values:
                description: Values is an inline YAML representing the values for
                  the Helm chart. This YAML is the result of the rendered Go templating
                  with the values from the referenced workload Cluster.
                type: string
              version:
                description: Version is the version of the Helm chart. To be replaced
                  with a compatibility matrix.
                type: string
            type: object
          status:
            description: HelmReleaseProxyStatus defines the observed state of HelmReleaseProxy.
            properties:
              failureReason:
                description: FailureReason will be set in the event that there is
                  a an error reconciling the HelmReleaseProxy.
                type: string
              namespace:
                description: Namespace is the namespace of the Helm release on the
                  workload cluster.
                type: string
              ready:
                description: Ready is true when the Helm release on the referenced
                  Cluster is up to date with the HelmReleaseProxySpec.
                type: boolean
              revision:
                description: Revision is the current revision of the Helm release.
                type: integer
              status:
                description: Status is the current status of the Helm release.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
